# app
APP_ID=
APP_NAME=
DOMAIN_BASE=
DOMAIN_HEAD=

#
# client
#
CLIENT_PORT=80

#
# server
#
SERVER_PORT=8000

#
# infra
#
INFRA_AWS_ACCESS_KEY_ID=
INFRA_AWS_SECRET_ACCESS_KEY=
INFRA_AWS_DEFAULT_ACCOUNT=
INFRA_AWS_DEFAULT_REGION=ap-northeast-1
INFRA_AWS_DEFAULT_OUTPUT=json


